# Tuplas

* Tuplas constroem grupos simples de objetos.
* Elas trabalham exatamente como listas, exceto que tuplas não podem ser modificadas (são imutáveis) e são normalmente escritas como uma série de itens em parênteses, não entre colchetes.
* Tuplas são coleções ordenadas de objetos arbitrários.
* Os itens das tuplas são acessados via índice.
* Não suporta operações de alteração.
* Tuplas são mais rápido do que listas.
* Tuplas podem ser utilizadas como chaves em um dicionário.
    * Apenas tuplas de strings e números.

* Podemos utiliza-las como pares ordenados (x, y), registros de funcionário extraídos de uma base de dados, etc.

In [ ]:
t1 = ()
print(type(t1))

<class 'tuple'>

In [ ]:
letras = tuple('abcd')
print(letras)

('a', 'b', 'c', 'd')

In [ ]:
t2 = (1,)
print(type(t2))

<class 'tuple'>

Se não colocar a virgula depois do 1, ```t2``` será to tipo ```int```. Veja abaixo.

In [ ]:
t3 = (1)
print(type(t3))

<class 'int'>

* Tuplas podem ser de diversos tipos, assim como as listas

In [ ]:
t4 = (1, 'a', 3.4)
print (t4)

(1, 'a', 3.4)

In [ ]:
print(type(t4))

<class 'tuple'>

* Podemos concatenar

In [ ]:
ts = (1, 2) + (3, 4)

In [ ]:
print(ts)

(1, 2, 3, 4)

* Podemos multiplicar

In [ ]:
ts * 2

(1, 2, 3, 4, 1, 2, 3, 4)

* Podemos Indexar e fatiar

In [ ]:
ts[0]

1

In [ ]:
ts[2:4]

(3, 4)

In [ ]:
ft = ts[0], ts[2:4]

In [ ]:
print(ft)

(1, (3, 4))

In [ ]:
print(type(ft))

<class 'tuple'>

* Podemos convert tuplas em listas e vice versa.

In [ ]:
nl = list(ts)
print(nl)

[1, 2, 3, 4]

In [ ]:
tl = tuple(nl)
print(tl)

(1, 2, 3, 4)