# Estruturas de Controle

É importante controlar o fluxo do nosso código!

## IF, ELIF, ELSE

* Para controlar o fluxo do nosso código Python, podemos avaliar uma determinada expressão.
    * Um teste (expressão que avalia para verdadeiro (True) ou falso (False)
    * Um bloco de código que será executado se o teste for verdadeiro (True)
    * Um bloco de código que será executado se o teste for falso (False)

<img src="https://github.com/csmanioto/aulas/blob/main/python/aula1/if-elif-else.png?raw=1" alt="if-elif-else" style="width: 200px;"/>

In [1]:
n = int(input('Digite um número: '))

Digite um número: 20

In [2]:
if n % 2 == 0:
    print('Par')
else:
    print('Impar')

Par

Também podemos ter condições dentro de condições, por exemplo:

In [3]:
nome = 'fia2'

if nome == 'fia':
    idade = 35
    print(idade)
elif nome == 'usp':
    idade = 82
    print(idade)
else:
    print("Não corresponde a nenhum nome")

Não corresponde a nenhum nome

* Também podemos utilizar comparações boleanas

In [4]:
x = 10
y = 11
z = 12

In [5]:
if x < y and x < z:
    print("x é menor")
elif y < z:
    print("y é menor")
else:
    print("z é menor")

x é menor

** Não existe estrutura do tipo switch/case**

## WHILE

É utilizado para execução repetitiva enquanto a expressão for verdadeira.

* Estamos começando a adicionar complexidade em nosso código.
    * Inicia com um teste
    * Se o teste resultar em verdadeiro (True), então o código do laço iterativo será executado uma única vez e então o código será redirecionado para que o teste seja refeito.
    * Esse processo é repetido até que o teste resulte em falso (False), saindo do laço iterativo.
    

<img src="https://github.com/csmanioto/aulas/blob/main/python/aula1/while.png?raw=1" alt="if-elif-else" style="width: 200px;"/>

In [6]:
lista = [1, 2, 3]
n = len(lista) - 1

while (n != -1):
    print(lista[n])
    n = n - 1

3
2
1

* O código acima escrito de outra forma

In [7]:
lista = [1, 2, 3]
n = len(lista) - 1
while True:
    print(lista[n])
    n = n - 1
    if n < 0:
        break

3
2
1

* Note que para pararmos a execução do laço, temos que explicitamente colocar o comando ```break``` para interromper a execução do laço. Isso não é feito no exemplo anterior, onde o "break" acontece quando o expressão é falsa.

## FOR

Para percorrer um conjunto de valores podemos utilizar o laço iterativo FOR.

In [8]:
produtos = ['ipad', 'celular', 'notebook', 'tv']

In [9]:
for item in produtos:
    print(item)

ipad
celular
notebook
tv

* Podemos utilizar a função ```enumerate()``` para recuperar a posição do index e o valor correspondente

In [10]:
for i, item in enumerate(produtos):
    print(i, item)

0 ipad
1 celular
2 notebook
3 tv

### A função ```range```

A função ```range(inicio, fim, passo)``` produz um objeto que tem uma sequencia de inteiros. O inicio se não for passado é 0 e é inclusivo, e o fim é a parada que é exclusivo.

Quando o passo for dado, ele incrementa ou decrementa.

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
r1 = list(range(5))

In [13]:
for i in r1:
    print(i)

0
1
2
3
4

In [14]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [15]:
r2 = range(0, 10, 2)
for i in r2:
    print(i)

0
2
4
6
8

* Para iterar em uma sequencia reversa, primeiro é necessário especificar a direção e então chamar a função ```reversed()```

In [16]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

* Também podemos utilizar a função range() para iterar em uma sequencia reversa

In [17]:
num = 5
for num in range(num, 0, -1):
    print(num)

5
4
3
2
1

* Um exemplo um pouco mais completo

In [18]:
l1 = list("abcdef")

In [19]:
l1

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
for item in l1:
    print(item)

a
b
c
d
e
f

In [21]:
for i in range(0, len(l1)):
    print(l1[i])

a
b
c
d
e
f

* Para iterar em dicionários, podemos utilizar fazer da seguinte forma:

In [22]:
pessoas = dict([('jose',35), ('bilbo',28), ('joão',20)])

In [23]:
for c, v in pessoas.items():
    print(c, v)

jose 35
bilbo 28
joão 20

### Pontos de atenção

* **break**: sai do loop mais próximo que a envolve
* **continue**: pula o início do loop mais próximo que a envolve
* **pass**: não faz absolutamente nada; trata-se de um lugar reservado de instrução, vazio.


**<span style="color:red;">No código abaixo quando executado o que irá imprimir????</span>**

In [24]:
numeros = [4, 5, 6, 7, 8, -3, 9, -4]
for num in numeros:
    if num < 0:
        print("negativo: {}".format(num))
        break

negativo: -3

* Tanto o if quanto o while utilizam condições lógicas para controle, avaliando-as de maneira booleana.

* Em Python, podemos denotar falso:
    * Pelo booleano False,
    * Pelo valor 0 (zero)
    * Pela lista, dicionário, ou strings vazios, de tamanho zero
    * Pelo valor especial None, que significa nulo
    
**<span style="color:blue;">Qualquer outro valor é considerado verdadeiro</span>**

## Exercícios

#### 1 - Verifique se a lista números tem algum valor negativo.

    ```numeros = [4, 5, 6, 7, 8, -3, 9, -4]```

Utilize o for para iterar em cada item da lista, e verifique se o item é menor que do 0, se for menor imprima o item (utilizando if/else).

#### 2 - Crie um laço que imprima os números pares do 0 ao 100. Primeiro utilize a função ```range()``` e depois o operador %.

#### 3 - Crie uma lista com 5 aparelhos diferentes:

    aparelhos = ['iphone', 'pc', 'notebook', 'monitor', 'impressora']

Agora crie um laço que imprima cada valor da lista (com os números):
```
1 iphone
2 pc
3 notebook
4 monitor
5 impressora
```